* {
  box-sizing: border-box;
}

/* Months */
.calendar__month {
  margin: 0;
  padding: 3rem 2rem 2rem;
  background: #555;
  text-align: center;
  color: #fff;
  list-style: none;
}
.calendar__month li {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 2rem;
  font-weight: 700;
}
.calendar__month li.calendar__prev-month,
.calendar__month li.calendar__next-month {
  cursor: pointer;
}
.calendar__month li.calendar__prev-month {
  float: left;
}
.calendar__month li.calendar__next-month {
  float: right;
}
.calendar__month li.calendar__year-name {
  font-size: 1.2rem;
  font-weight: 400;
}